In [21]:
import pandas as pd
import numpy as np

In [5]:
ratings = pd.read_csv("csv_data/BX-Book-Ratings.csv", encoding='cp1251', sep=';')

In [16]:
# # Storage for bad lines
# bad_lines = []
# 
# # Define a handler for bad lines
# def bad_line_handler(line):
#     bad_lines.append(line)
#     return None  # skip the bad line in the main DataFrame

# TODO: first bad thing is non-handling bad lines
books = pd.read_csv("csv_data/BX-Books.csv", encoding='cp1251', sep=';', on_bad_lines="warn")

/var/folders/9b/rkxr4tx941l76qtgtn679kth0000gn/T/ipykernel_61199/1874702.py:9: ParserWarning: Skipping line 6452: expected 8 fields, saw 9
Skipping line 43667: expected 8 fields, saw 10
Skipping line 51751: expected 8 fields, saw 9

  books = pd.read_csv("csv_data/BX-Books.csv", encoding='cp1251', sep=';', on_bad_lines="warn")
/var/folders/9b/rkxr4tx941l76qtgtn679kth0000gn/T/ipykernel_61199/1874702.py:9: ParserWarning: Skipping line 92038: expected 8 fields, saw 9
Skipping line 104319: expected 8 fields, saw 9
Skipping line 121768: expected 8 fields, saw 9

  books = pd.read_csv("csv_data/BX-Books.csv", encoding='cp1251', sep=';', on_bad_lines="warn")
/var/folders/9b/rkxr4tx941l76qtgtn679kth0000gn/T/ipykernel_61199/1874702.py:9: ParserWarning: Skipping line 144058: expected 8 fields, saw 9
Skipping line 150789: expected 8 fields, saw 9
Skipping line 157128: expected 8 fields, saw 9
Skipping line 180189: expected 8 fields, saw 9
Skipping line 185738: expected 8 fields, saw 9

  books = pd.read_csv("csv_data/BX-Books.csv", encoding='cp1251', sep=';', on_bad_lines="warn")
/var/folders/9b/rkxr4tx941l76qtgtn679kth0000gn/T/ipykernel_61199/1874702.py:9: ParserWarning: Skipping line 209388: expected 8 fields, saw 9
Skipping line 220626: expected 8 fields, saw 9
Skipping line 227933: expected 8 fields, saw 11
Skipping line 228957: expected 8 fields, saw 10
Skipping line 245933: expected 8 fields, saw 9
Skipping line 251296: expected 8 fields, saw 9
Skipping line 259941: expected 8 fields, saw 9
Skipping line 261529: expected 8 fields, saw 9

  books = pd.read_csv("csv_data/BX-Books.csv", encoding='cp1251', sep=';', on_bad_lines="warn")
/var/folders/9b/rkxr4tx941l76qtgtn679kth0000gn/T/ipykernel_61199/1874702.py:9: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv("csv_data/BX-Books.csv", encoding='cp1251', sep=';', on_bad_lines="warn")

In [17]:
# print(f"Full count of bad lines is: {len(bad_lines)}")
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [31]:
books.info()
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271358 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [19]:
### PREPROCESSING DATA
#users_ratigs = pd.merge(ratings, users, on=['User-ID'])
dataset = pd.merge(ratings, books, on=['ISBN']) ### INNER JOIN of 2 tables
dataset_lowercase=dataset.apply(lambda x: x.str.lower() if(x.dtype == 'object') else x)
###

In [30]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031136 entries, 0 to 1031135
Data columns (total 10 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   User-ID              1031136 non-null  int64
 1   ISBN                 1031136 non-null  object
 2   Book-Rating          1031136 non-null  int64
 3   Book-Title           1031136 non-null  object
 4   Book-Author          1031134 non-null  object
 5   Year-Of-Publication  1031136 non-null  object
 6   Publisher            1031134 non-null  object
 7   Image-URL-S          1031136 non-null  object
 8   Image-URL-M          1031136 non-null  object
 9   Image-URL-L          1031132 non-null  object
dtypes: int64(2), object(8)
memory usage: 78.7+ MB

In [22]:
### EXTRACT USER IDS WHO RATED ANY BOOK OF THE AUTHOR OF THE INPUT BOOK
# TODO: make book name dynamic input
# TODO: do search by regex or other simillar technology
tolkien_readers = dataset_lowercase['User-ID'][
    (dataset_lowercase['Book-Title']=='the fellowship of the ring (the lord of the rings, part 1)') &
    (dataset_lowercase['Book-Author'].str.contains("tolkien"))
    ]
tolkien_readers = tolkien_readers.tolist()
tolkien_readers = np.unique(tolkien_readers)
###

In [33]:
print(f"{len(tolkien_readers)=}")
print(f"{tolkien_readers[:10]=}")

len(tolkien_readers)=356
tolkien_readers[:10]=array([  254,  1167,  1674,  1903,  3556,  6102,  8759, 10354, 11676,
       11944])

In [23]:
### EXTRACT DATAROWS WHICH CONTAIN USER ID OF ANY PREVIOUSLY EXTRACTED USER IDS
# final dataset
books_of_tolkien_readers = dataset_lowercase[(dataset_lowercase['User-ID'].isin(tolkien_readers))]
###

In [34]:
books_of_tolkien_readers.info()

<class 'pandas.core.frame.DataFrame'>
Index: 95127 entries, 3622 to 1030325
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   User-ID              95127 non-null  int64
 1   ISBN                 95127 non-null  object
 2   Book-Rating          95127 non-null  int64
 3   Book-Title           95127 non-null  object
 4   Book-Author          95127 non-null  object
 5   Year-Of-Publication  8383 non-null   object
 6   Publisher            95127 non-null  object
 7   Image-URL-S          95127 non-null  object
 8   Image-URL-M          95127 non-null  object
 9   Image-URL-L          95127 non-null  object
dtypes: int64(2), object(8)
memory usage: 8.0+ MB

In [24]:
### FILTER DATAROWS (USERS WHICH LEFT MORE THAN th RATINGS) AND EXTRACT "INTERESTING" BOOK TITLES
# Number of ratings per other books in dataset
number_of_rating_per_book = books_of_tolkien_readers.groupby(['Book-Title']).agg('count').reset_index() # I think not only others but also the input book

In [35]:
number_of_rating_per_book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54142 entries, 0 to 54141
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Book-Title           54142 non-null  object
 1   User-ID              54142 non-null  int64
 2   ISBN                 54142 non-null  int64
 3   Book-Rating          54142 non-null  int64
 4   Book-Author          54142 non-null  int64
 5   Year-Of-Publication  54142 non-null  int64
 6   Publisher            54142 non-null  int64
 7   Image-URL-S          54142 non-null  int64
 8   Image-URL-M          54142 non-null  int64
 9   Image-URL-L          54142 non-null  int64
dtypes: int64(9), object(1)
memory usage: 4.1+ MB

In [25]:
#select only books which have actually higher number of ratings than threshold
# TODO: replace 8 with th
books_to_compare = number_of_rating_per_book['Book-Title'][number_of_rating_per_book['User-ID'] >= 8]
books_to_compare = books_to_compare.tolist()
###

In [36]:
print(f"{len(books_to_compare)=}")

len(books_to_compare)=1252

In [26]:
ratings_data_raw = books_of_tolkien_readers[['User-ID', 'Book-Rating', 'Book-Title']][books_of_tolkien_readers['Book-Title'].isin(books_to_compare)]

In [37]:
ratings_data_raw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17744 entries, 3622 to 1030319
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   User-ID      17744 non-null  int64
 1   Book-Rating  17744 non-null  int64
 2   Book-Title   17744 non-null  object
dtypes: int64(2), object(1)
memory usage: 1.0+ MB

In [28]:
### COMPUTE FINAL RATING
# TODO: suggest using other rating computation (for example by weighted rating or by number of ratings
# group by User and Book and compute mean
ratings_data_raw_nodup = ratings_data_raw.groupby(['User-ID', 'Book-Title'])['Book-Rating'].mean()
###
# reset index to see User-ID in every row
ratings_data_raw_nodup = ratings_data_raw_nodup.to_frame().reset_index()

dataset_for_corr = ratings_data_raw_nodup.pivot(index='User-ID', columns='Book-Title', values='Book-Rating')

In [39]:
ratings_data_raw_nodup.info()
dataset_for_corr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16818 entries, 0 to 16817
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   User-ID      16818 non-null  int64
 1   Book-Title   16818 non-null  object
 2   Book-Rating  16818 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 394.3+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 356 entries, 254 to 278550
Columns: 1252 entries, 1984 to zoya
dtypes: float64(1252)
memory usage: 3.4 MB

In [72]:
# TODO: replace with dynamic input data
LoR_list = ['the fellowship of the ring (the lord of the rings, part 1)']

result_list = []
worst_list = []

# for each of the trilogy book compute:
for LoR_book in LoR_list:

    ### REMOVE INPUT BOOK FROM DATAFRAME
    #Take out the Lord of the Rings selected book from correlation dataframe
    dataset_of_other_books = dataset_for_corr.copy(deep=False)
    dataset_of_other_books.drop([LoR_book], axis=1, inplace=True)
    ###

    # empty lists
    book_titles = []
    correlations = []
    avgrating = []

    # corr computation
    for book_title in list(dataset_of_other_books.columns.values):
        book_titles.append(book_title)
        # TODO: maybe add a method to calculate the correlation. Default='pearson'
        # Calculate correlation between (dataframe of input book) and (dataframe without the input book)
        correlations.append(dataset_for_corr[LoR_book].corr(dataset_of_other_books[book_title]))
        book_title_indices = ratings_data_raw['Book-Title']==book_title
        if ratings_data_raw[book_title_indices].count().iloc[0] == 0:
            print(f"{ratings_data_raw[book_title_indices].count().iloc[0]=}")
            continue
        
        tab=ratings_data_raw[ratings_data_raw['Book-Title']==book_title].mean(numeric_only=True)
        avgrating.append(tab['Book-Rating'].min())
    # final dataframe of all correlation of each book   
    corr_fellowship = pd.DataFrame(list(zip(book_titles, correlations, avgrating)), columns=['book','corr','avg_rating'])
    corr_fellowship.head()

    # TODO: optimisation remove double sort
    # top 10 books with highest corr
    result_list.append(corr_fellowship.sort_values('corr', ascending = False).head(10))

    #worst 10 books
    worst_list.append(corr_fellowship.sort_values('corr', ascending = False).tail(10))

/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3065: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3066: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3065: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3066: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3065: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3066: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3065: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3066: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3065: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3066: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3065: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3066: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3065: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3066: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3065: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3066: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3065: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3066: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3065: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3066: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3065: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3066: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3065: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3066: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3065: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3066: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3065: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3066: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3065: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3066: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3065: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3066: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3065: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3066: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3065: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3066: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3065: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3066: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3065: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3066: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3065: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3066: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3065: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3066: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3065: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3066: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3065: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3066: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3065: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3066: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3065: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3066: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3065: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3066: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3065: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3066: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3065: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3066: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/Users/zlochinus/Library/Caches/pypoetry/virtualenvs/book-recommendation-prod-_6-_ceLn-py3.11/lib/python3.11/site-packages/numpy/lib/_function_base_impl.py:3065: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]

In [58]:
a = ratings_data_raw[ratings_data_raw['Book-Title']==book_title]
b = a.groupby(ratings_data_raw['Book-Title'])

In [49]:
a.info()
a

<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, 8935 to 1028671
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   User-ID      27 non-null     int64
 1   Book-Rating  27 non-null     int64
 2   Book-Title   27 non-null     object
dtypes: int64(2), object(1)
memory usage: 864.0+ bytes

         User-ID  Book-Rating Book-Title
8935         254            9       1984
44793      11676            0       1984
44814      11676            0       1984
44836      11676           10       1984
51483      11944            0       1984
69558      16795            8       1984
90763      23872            7       1984
156273     37950            0       1984
165446     40885            0       1984
200023     52350            0       1984
222293     56856            0       1984
233224     60244            9       1984
301553     80071            8       1984
325899     87555            0       1984
325912     87555           10       1984
421296    112765            0       1984
498755    133935            7       1984
530051    142672            0       1984
656339    177432           10       1984
681071    184299            0       1984
752939    203968            0       1984
766097    207246            0       1984
798961    215986            8       1984
872402    234828            0       1984
904257    242083            7       1984
971696    259057           10       1984
1028671   275970            0       1984

In [64]:

a.mean(axis=0, numeric_only=True)

User-ID        110429.629630
Book-Rating         3.814815
dtype: float64

In [57]:
b.describe()

           User-ID                                                       \
             count          mean           std    min      25%      50%
Book-Title
1984          27.0  110429.62963  90146.088761  254.0  30911.0  87555.0

                               Book-Rating                                     \
                 75%       max       count      mean       std  min  25%  50%
Book-Title
1984        194133.5  275970.0        27.0  3.814815  4.420555  0.0  0.0  0.0


            75%   max
Book-Title
1984        8.0  10.0

In [46]:

book_title

'1984'

In [52]:
ratings_data_raw

,User-ID,Book-Rating,Book-Title
3622,278246,8,the fellowship of the ring (the lord of the ri...
7970,278550,10,the fellowship of the ring (the lord of the ri...
8748,254,0,the poisonwood bible: a novel
8750,254,0,stardust
8752,254,0,equal rites (discworld novels (paperback))
...,...,...,...
1030299,276463,0,"the golden compass (his dark materials, book 1)"
1030304,276463,0,the things they carried
1030305,276463,0,"artemis fowl (artemis fowl, book 1)"
1030318,276463,0,tears of the giraffe (no.1 ladies detective ag...
1030319,276463,8,morality for beautiful girls (no.1 ladies dete...

[                                                   book      corr  avg_rating
 259   demon lord of karanda (malloreon (paperback ra...  1.000000    0.875000
 717                 sapphire rose (elenium (paperback))  1.000000    1.000000
 499   king of the murgos (malloreon (paperback rando...  1.000000    0.777778
 11                              a confederacy of dunces  0.998822    2.125000
 966                                            the heir  0.974740    2.222222
 17                                       a fine balance  0.961779    3.545455
 702                                         river's end  0.953260    2.400000
 1003   the left hand of darkness (remembering tomorrow)  0.920154    2.750000
 907   the deep end of the ocean (oprah's book club (...  0.909620    2.125000
 396     guardians of the west (book 1 of the malloreon)  0.905206    1.166667]

In [74]:
worst_list

[                                                   book  corr  avg_rating
 903                              the day after tomorrow   NaN         0.0
 905                                       the deadhouse   NaN         0.0
 919                                     the empty chair   NaN         0.0
 927                               the face of deception   NaN         0.0
 1058                               the princess diaries   NaN         0.0
 1080                         the saving graces: a novel   NaN         0.0
 1087                                 the secret pilgrim   NaN         0.0
 1143                                         the winner   NaN         0.0
 1191  valhalla rising (dirk pitt adventures (paperba...   NaN         0.0
 1220                         while my pretty one sleeps   NaN         0.0]